@use "_fonts"
@use "mystyle/_bootstrap-icons"
// Old styles
@use "oldcss/_bootstrap"
@use "oldcss/_style"
@use "oldcss/_color"
@use "oldcss/_responsive"
@use "oldcss/_elpath"
@use "oldcss/modulecss/_about"
@use "oldcss/modulecss/_apps"
@use "oldcss/modulecss/_banner"
@use "oldcss/modulecss/_blog-details"
@use "oldcss/modulecss/_blog-sidebar"
@use "oldcss/modulecss/_category"
@use "oldcss/modulecss/_chooseus"
@use "oldcss/modulecss/_clients"
@use "oldcss/modulecss/_contact"
@use "oldcss/modulecss/_download"
@use "oldcss/modulecss/_error"
@use "oldcss/modulecss/_faq"
@use "oldcss/modulecss/_featured"
@use "oldcss/modulecss/_footer"
@use "oldcss/modulecss/_funfact"
@use "oldcss/modulecss/_header"
@use "oldcss/modulecss/_industries"
@use "oldcss/modulecss/_job-details"
@use "oldcss/modulecss/_job"
@use "oldcss/modulecss/_login"
@use "oldcss/modulecss/_news"
@use "oldcss/modulecss/_page-title"
@use "oldcss/modulecss/_portfolio"
@use "oldcss/modulecss/_pricing"
@use "oldcss/modulecss/_process"
@use "oldcss/modulecss/_profile"
@use "oldcss/modulecss/_service-details"
@use "oldcss/modulecss/_service"
@use "oldcss/modulecss/_subscribe"
@use "oldcss/modulecss/_team"
@use "oldcss/modulecss/_testimonial"
@use "oldcss/modulecss/_training"
@use "oldcss/modulecss/_video"
@use "oldcss/modulecss/_welcome"

// My styles
@use 'mystyle/_homebanner'
@use 'mystyle/_funfactsection'
@use 'mystyle/_about-style-four'
@use 'mystyle/_industriesblock'
@use 'mystyle/_ribbonmessage'
@use 'mystyle/_recentprojects'
@use 'mystyle/_ctacontact'
@use 'mystyle/_testimonials'
@use 'mystyle/_headercustom'

body
  width: 100%
  overflow-x: hidden

main
  position: relative
  overflow-x: hidden

// 
.main-menu 
  .navigation 
    & > 
      li.dropdown 
        & >
          a:before
            content: "\F282"
            font-family: "bootstrap-icons" !important
            font-size: 14px
            right: -3px

.main-menu .navigation > li > ul > li > a:hover, .main-menu .navigation > li > .megamenu li > a:hover
  letter-spacing: normal

.main-menu .navigation > li > ul > li > a, .main-menu .navigation > li > .megamenu li > a
  text-transform: none          