@use "_fonts"
@use "mystyle/_bootstrap-icons"
// Old styles
@use "oldcss/_bootstrap"
@use "oldcss/_style"
@use "oldcss/_color"
@use "oldcss/_responsive"
@use "oldcss/_elpath"
@use "oldcss/modulecss/_about"
@use "oldcss/modulecss/_apps"
@use "oldcss/modulecss/_banner"
@use "oldcss/modulecss/_blog-details"
@use "oldcss/modulecss/_blog-sidebar"
@use "oldcss/modulecss/_category"
@use "oldcss/modulecss/_chooseus"
@use "oldcss/modulecss/_clients"
@use "oldcss/modulecss/_contact"
@use "oldcss/modulecss/_download"
@use "oldcss/modulecss/_error"
@use "oldcss/modulecss/_faq"
@use "oldcss/modulecss/_featured"
@use "oldcss/modulecss/_footer"
@use "oldcss/modulecss/_funfact"
@use "oldcss/modulecss/_header"
@use "oldcss/modulecss/_industries"
@use "oldcss/modulecss/_job-details"
@use "oldcss/modulecss/_job"
@use "oldcss/modulecss/_login"
@use "oldcss/modulecss/_news"
@use "oldcss/modulecss/_page-title"
@use "oldcss/modulecss/_portfolio"
@use "oldcss/modulecss/_pricing"
@use "oldcss/modulecss/_process"
@use "oldcss/modulecss/_profile"
@use "oldcss/modulecss/_service-details"
@use "oldcss/modulecss/_service"
@use "oldcss/modulecss/_subscribe"
@use "oldcss/modulecss/_team"
@use "oldcss/modulecss/_testimonial"
@use "oldcss/modulecss/_training"
@use "oldcss/modulecss/_video"
@use "oldcss/modulecss/_welcome"

// My styles
@use 'mystyle/_homebanner'
@use 'mystyle/_funfactsection'
@use 'mystyle/_about-style-four'
@use 'mystyle/_industriesblock'

body
  width: 100%
  overflow-x: hidden

.ribbonMessage
  overflow: hidden
  transform: rotate(-5deg)
  position: relative
  white-space: nowrap
  background: var(--theme-color)
  padding: 12px 0
  width: 120%
  left: -10%
  &--texts
    display: inline-flex
    transform: transform 0.2s linear
    padding: 0 0 5px
    position: relative
    z-index: 1
    p
      white-space: nowrap
      position: relative
      display: inline-block
      font-size: 32px
      line-height: 40px
      font-family: var(--title-font)
      color: white
      margin-right: 280px
      @media (width < 560px)
        font-size: 20px
        margin-right: 70px
      &::before
        position: absolute
        content: ''
        background-image: url(../images/icons/icon-1-white.png)
        width: 37px
        height: 37px
        top: 2px
        right: -70px
        background-repeat: no-repeat        
        @media (width < 560px)
          right: -50px
          width: 25px
          height: 25px
          background-size: 100%
          background-position: center center
          background-repeat: no-repeat
          top: 6.75px
      // @include maxPhablet
      //   margin-right: 30px
      //   letter-spacing: 0
      //   font-size: 2.5rem
      //   padding: 15px 0
      // @include maxMobile
      //   margin-right: 30px
      //   letter-spacing: 0
      //   font-size: 1.75rem  