@use "../mystyle/_variables" as *
.testimonialsBlock
  // overflow: hidden
  @include maxPhablet
    padding-bottom: 30px
  .testimonial-block-two
    min-height: 300px
    display: flex
    .inner-box
      width: 95%
      margin: 0 auto
      box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.07)
      border: 1px solid rgba(0, 0, 0, 0.05)
      @include maxPhablet
        padding: 10px 20px
      .author-box
        padding-bottom: 20px
        margin-bottom: 0
      h4
        font-weight: 600
      p
        padding-bottom: 15px
        @include maxMobile
          font-size: .85rem
      .designation
        color: #{$verde}

.swiper-pagination
  position: relative!important
  top: 0
  left: 0
  padding: 40px 0 0
  .swiper-pagination-bullet
    width: 40px
    height: 5px
    border-radius: #{$radiusborder}
    &.swiper-pagination-bullet-active
      background-color: #{$verde}


.news-block-one 
  .inner-box
    @include maxMobile
      padding-top: 50px